<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <div class="title">Sign In</div>
    <form (ngSubmit)="onSignIn(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input 
        type="text" 
        class="form-control" 
        id="email"
        name="email" 
        ngModel
        email
        required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password"
        name="password" 
        ngModel
        required>
      </div>
      <div class="form-group">
          <!-- <re-captcha 
          (resolved)="resolved($event)" siteKey="6LfmpEQUAAAAAC5izwQ9nSdQWoz7P2cDTjEHi3R_"
          [(ngModel)]="formModel.captcha"
          required
          ></re-captcha> -->
          <re-captcha
          [(ngModel)]="formModel.captcha"
          name="captcha"
          required
          siteKey="6LfmpEQUAAAAAC5izwQ9nSdQWoz7P2cDTjEHi3R_"
          #captchaControl="ngModel"
        ></re-captcha>
      </div>
      <div class="form-group">
        <a routerLink='/reset' >Reset password</a> &nbsp;
        <a [routerLink]="['/sign-up']" >Sign Up</a>
      </div>
      <button 
      class="btn btn-primary" 
      type="submit"
      [disabled]="f.invalid"
      >Sign In</button>
  </form>
  </div>
</div>
