<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="title">Password recovery</div>
      <form (ngSubmit)="onReset(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
          type="text" 
          class="form-control" 
          id="email"
          name="email" 
          ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Reset</button>
        <button class="btn btn-primary" type="button" routerLink='/'>Back</button>
    </form>
    </div>
  </div>